@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&family=Montserrat:wght@400;600&family=Open+Sans:wght@500;600&family=Orbitron:wght@500&family=Poppins&family=Roboto&family=Roboto+Condensed&family=Roboto+Serif:opsz@8..144&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
}
.container{
    background-color: lightblue;
    font-size: 5rem;
    width: 60%;
    padding: 3rem;
}
#timerdisplay{
    background-color: darkcyan;
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
button{
    height: 50px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    background-color: darkcyan;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    border: 2px solid darkcyan;
    background-color: lightblue;
    color: black;
}